/* ~~~~~~~~~~~~~ BASIC ELEMENTS ~~~~~~~~~~~~~~~ */

* {
  font-family: 'Arvo', serif;
  font-weight: 400;
  margin: 0;
}

body {
  display: flex
}

.titles {
  margin-top: 40px;
}

.button-spacing {
  margin-top: 35px;
}

/* ~~~~~~~~~~~~~ MAIN VIEW EDGE AREAS ~~~~~~~~~~~~~~~ */


.side-bar {
  width: 20%;
  background-color: #D48258;
  font-size: 25px;
  text-align: center;
}

.button-images {
  max-width: 25px;
  max-height: inherit;
}

.emojis {
  font-size: 50px;
}

/* ~~~~~~~~~~~~~ GAME PLAY AREA 'HOME' VIEW ~~~~~~~~~~~~~~~ */

.game-board-section {
  width: 60%;
  height: 100vh;
  background-color: #ECB983;
  font-size: 40px;
  text-align: center;
}

.select-game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.game-button {
  cursor: pointer;
  color: #ECB983;
  background-color: white;
  width: 400px;
  height: 250px;
  border: none;
  margin-bottom: 20px;
  font-size: 18px;
}

.game-button:hover {
  background-color: #D48258;
  color: black;
}

/* ~~~~~~~~~~~~~ GAME PLAY AREA 'CHOOSE PLAYER' VIEW ~~~~~~~~~~~~~~~ */

.choose-button-section {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.selection-buttons {
  border: none;
}

.selection-buttons:hover {
  cursor: pointer;
  background-color: #D48258;
}

.selection-button-image {
  max-width: 150px;
  max-height: inherit;
}

.player-token {
  font-size: 30px;
}



/* ~~~~~~~~~~~~~ RESET AFTER GAME PLAY ~~~~~~~~~~~~~~~ */

.different-game-button {
  cursor: pointer;
  background-color: #ECB983;
  border: none;
  width: 150px;
  height: 50px;
  margin-top: 100px;
}

.different-game-button:hover {
  cursor:pointer;
  background-color: white;
  color: #ECB983
}


/* ~~~~~~~~~~~~~ HIDDEN ~~~~~~~~~~~~~~~ */

.hidden {
  display: none;
}
